.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.App div button {
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  padding: 5px;
  background-color: #ddd;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.todo-item div {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-item input {
  margin-right: 10px;
}

.todo-item.done .todo-title {
  /* Conditional style for completed items */
  color: #888;
  text-decoration: line-through;
}

.todo-item button {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.todo-item button:hover {
  background-color: #ff0800
}

.time-output {
  margin-top: 20px;
}

.button-clicked {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.completion-date {
  font-style: italic;
  font-size: 10px;
  color: #888;
}
